  
            .popupSkin
            {
            	/*
            	border-skin: ClassReference( "org.robotlegs.popups.view.skins.popupSkin" );
            	*/
            	border-skin: ClassReference( "org.syncon.popups.view.skins.DefaultPopupSkin" );
            }                  
		     
		  
		.closeBtn {
		upSkin: Embed(source="closeButton.png");
		downSkin: Embed(source="closeButton.png");
		overSkin: Embed(source="closeButton.png");
		disabledSkin: Embed(source="closeButton.png");
		}
		 